{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Tarefas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="ui attached stackable menu">
        <div class="ui container">
            <div class="ui item">
                <i class="user icon"></i>
                {{ user.first_name }} {{ user.last_name }}
            </div>
            <a class="ui item" href="{% url 'index' %}">
                <i class="grid layout icon"></i> Dashboard
            </a>
            <a class="ui item" href="{% url 'newTarefa' %}">
                <i class="add icon"></i> Nova tarefa
            </a>
            <a class="ui right item" href="{% url 'logout' %}">
                <i class="power off icon"></i> Logout
            </a>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>